{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<h1  class="display-3 font-weight-bold text-center">Welcome To Srinjana's Blogs</h1>

<br>

<h2 class="text-center mb-5">🌺 I have written {{ blogs.count }} blog{{blogs.count|pluralize }} 🌺</h2>
<br>
{% for blog in blogs %}
<div class="row justify-content-center my-3">
    <div class="col-md-10">
       
        <a href="{% url 'blog:detail' blog.id %}">
            <h2>{{ blog.title }}</h2>
        </a>

        <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
        <h6>{{ blog.description|striptags|truncatechars:180 }}</h6>
        <br>
        <hr>
        
    </div>
</div>
{% endfor %}
        
{% endblock %}


